<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <style>
        .container {
            margin-left: 50px;
            margin-top: 50px;
            margin-right: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <p>
        <!-- doc html -->
    <h1>Cube PHP. index</h1>
    View Engine: ViewEngine
    </p>
    <div>
        <p>
            <a href="https://github.com/cube-group/" target="_blank">see the github!</a>
        </p>
    </div>
</div>
</body>
</html>